backend/.venv
.pytest_cache
__pycache__/
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/
.mypy_cache/
.coverage
htmlcov/
.tox/
dist/
build/
logs/
*.log
*.egg-info

backend/.env
package_server/.bootcamp-requirements.txt
package_server/wheelhouse/
package_server/node_registry/
package_server/.venv

data
