LLM_CONFIG={}

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=

GROQ_API_KEY=

PORT=3050

DB_NAME=postgres
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

SOURCE=duckdb
DATA_BASE_PATH=

